.logo{
    width: 130px;
    height: 100%;
}
.illustration{
    width: 554px;
    height: 346px;
    
}
.nav-bar{
   padding-top: 30px;
   padding-left: 50px;
   padding-right: 50px;
    background-color: #F0FFF0;
}
.top-bar{
    padding: 35px;
    background-color: #F0FFF0;
    
}
.gs-btn{
    color: white;
    text-decoration: none;
}
.btn{
    height: 43px;
    color: #ffffff;
    background-color: #21B573;
    border-radius: 33px;
    }
.btn:hover{
        background-color: #F0FFF0;
    }
.p-1{
    color: #FD511A;
}
span h2{
    color: #21B573;
}
.top-card {
    margin-top: 100px;
    background-color: white;
}
.img-e1{
    width: 66px;
    height: 85px;
    margin: 100px;
   
}
.img-e2{
    width: 80px;
    height: 83px;
    margin: 100px;
   
}
.img-e3{
    width: 75px;
    height: 80px;
    margin: 100px;
   
}
.img-e4{
    width: 68px;
    height: 76px;
    margin: 100px;
   
}
.top-card{
    background-color: white;
    margin-top: 60px;
}

.card{ 
    width: 270px;
    height: 270px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
   
}

.card-2nd{
    margin-top: 170px;
    margin-left: 100px;
    background-color: white;
}
.con-text{
    margin-bottom: 60px;
}

.man{
    width: 120px;
    height: 120px;
    margin-top: 50px;
    margin-left: 200px;
}
.last-p{
    width: 580px;
    height: 90px;
    padding-right: 50px;
    margin-top: 65px;
    margin-left: 80px;
}
.oc-text{
    margin-top: 90px;
    padding-right: 100px;
}
.testimonial-text{
    margin-top: 50px;
}
.last-sec{
    margin-top: 100px;
    padding-top: 70px;
    padding-left: 80px;
    width: 1440px;
    height: 280px;
    background-color: #282531;
    color: white;
}
footer{
    padding-bottom: 30px;
    color: #F0FFF0;
    background-color: #282531;
}